
<section id="home">
  <div class="container">
    <h1>Edição Gringolândia</h1>
    <a href="">Adiquira seu convite</a>
  </div>
</section><!--/#home-->

<section id="perfomars-slide">
  <div class="container">
    <div class="performance">
      <div class="event-content-inner">
        <h2 class="heading">THE ROCKING <strong>PERFORMERS</strong></h2>
        <div class="performancer-box">
          <div id="perfomer-carousel" class="carousel slide" data-ride="carousel">
            <a class="left-perfomer-control" href="#perfomer-carousel" data-slide="prev">
              <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right-perfomer-control" href="#perfomer-carousel" data-slide="next">
              <span><i class="fa fa-angle-right"></i></span>
            </a>
            <div  class="carousel-inner performers">
              <div class="item active">
                <ul class="performer-list">
                  <li style="background-image: url(<%=image_tag 'home/p1.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Chester Bennington <span>Vocal</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Chester Bennington</h3>
                          <h4>Vocal</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li style="background-image:url(<%=image_tag 'home/p2.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Mike Shinoda <span>Rhythm guitar</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Mike Shinoda</h3>
                          <h4>Rhythm guitar</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li style="background-image:url(<%=image_tag 'home/p3.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Brad Delson <span>Bass guitar</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Brad Delson</h3>
                          <h4>Bass guitar</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li style="background-image:url(<%=image_tag'home/p4.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Rob Bourdon <span>Drums</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Rob Bourdon</h3>
                          <h4>Drums</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="item">
                <ul class="performer-list">
                  <li style="background-image: url(<%=image_tag 'home/p1.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Chester Bennington <span>Vocal</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Chester Bennington</h3>
                          <h4>Vocal</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li style="background-image:url(<%=image_tag 'home/p2.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Mike Shinoda <span>Rhythm guitar</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Mike Shinoda</h3>
                          <h4>Rhythm guitar</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li style="background-image:url(<%=image_tag 'home/p3.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Brad Delson <span>Bass guitar</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Brad Delson</h3>
                          <h4>Bass guitar</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li style="background-image:url(<%=image_tag 'home/p4.jpg' %>);">
                    <div class="perfomer-wrapper">
                      <div class="single-performer">
                        <h3>Rob Bourdon <span>Drums</span> </h3>
                      </div>
                      <div class="overlay">
                        <div class="overley-content">
                          <h3>Rob Bourdon</h3>
                          <h4>Drums</h4>
                          <p>Michael Kenji "Mike" Shinoda is an American musician, record producer, and artist. </p>
                          <div class="social-icons">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#perfomars-slide-->